<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limin.mapper.ProductsMapper">

    <select id="queryProducts" resultType="Products" parameterType="map">
        select * from products limit #{startIndex},#{pageSize}
    </select>

    <select id="queryProductsById" resultType="Products" parameterType="map">
        select * from products where cid = #{id} limit #{startIndex},#{pageSize}
    </select>

    <select id="queryProductsId" resultType="Products" parameterType="int">
        select * from products where id = #{id}
    </select>

    <select id="query" resultType="Products">
        select * from products where title like CONCAT('%',#{query},'%')
    </select>

</mapper>